<div class="card border-primary mb-3 bg-primary text-white">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
      <h5 class="card-title text-white">Lista Clientes</h5>

      <div class="my-2 text-left">
        <button class="btn btn-rounded bg-dark text-white" type="button" [routerLink]="['/clientes/form']" >CREAR USUARIO</button>
      </div>

      <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Fecha</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{cliente.id}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.fecha}}</td>
                <td>
                  <button class="btn bg-primary text-white" type="button" name="button" [routerLink]="['/clientes/form', cliente.id]">EDITAR</button>
                </td>
            </tr>
        </tbody>
      </table>



    </div>
  </div>